@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url(./assets/fonts/static/Manrope-Medium.ttf);
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url(./assets/fonts/static/Manrope-Bold.ttf);
}
